@model TNAI_Proj.Model.Entities.Category

@{
    ViewData["Title"] = "Confirmation";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    <div class="col-md-7">
                        <p><strong>Name: @Model?.Name</strong></p>
                        <p><strong>Description:</strong> @Model.Description</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete the  category?</h5>

                    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <a asp-controller="Categories" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-danger">No</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}